/**
 * Name: Trivia Game
 * Version: 1.0.0
 * Date: 2018-10-26
 * URL: https://www.richardcyrus.com/trivia-game
 */
/* #region Document Setup */
html {
  -ms-overflow-style: scrollbar;
  -ms-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
}

/**
 * Apparently the order of the properties defined here affect how the
 * image is positioned.
 *
 * DO NOT SORT!!!  (Pulled out so as not to touch moving forward).
 */
html {
  background: url("../images/background.jpg") no-repeat center center fixed;
  background-size: cover;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: rgba(247, 249, 251, 0.2);
  border: 0;
  color: #333333;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  height: 100vh;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  text-align: center;
  text-rendering: optimizeLegibility;
  vertical-align: baseline;
  width: 100vw;
}

@-webkit-keyframes danger {
  50% {
    opacity: 0;
  }
}

@keyframes danger {
  50% {
    opacity: 0;
  }
}

button {
  -webkit-appearance: button;
  border: 0 transparent;
  cursor: pointer;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  overflow: visible;
  text-transform: none;
  width: 100%;
}

/* #endregion Document Setup */
/* #region Page Setup */
.trivia__game {
  display: block;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

/* #endregion Page Setup */
/* #region Card Setup */
h1 {
  font-family: 'Delius', cursive;
  font-size: 1.8rem;
  line-height: 1.5;
  margin: 0;
  padding: 2rem 2rem 1rem;
}

hr {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  border: 0;
  height: 1px;
}

.countdown {
  font-weight: 600;
  color: #333333;
}

.danger {
  color: #ff0000;
  -webkit-animation: danger .75s linear infinite;
          animation: danger .75s linear infinite;
}

.trivia__message,
.trivia__game-over,
.trivia__game-start,
.trivia__wrong-answer {
  text-align: center;
}

.trivia__game-start > h1,
.trivia__game-over > h1,
.trivia__answer-display,
.trivia__message > h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  margin-left: auto;
  margin-right: auto;
}

.trivia__message-details > h2 {
  font-size: 2rem;
  margin-top: 0;
  text-align: center;
}

.trivia__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
  page-break-after: always;
  position: relative;
  word-wrap: break-word;
}

.trivia__card-wrap {
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 50%;
}

.trivia__card-wrap > h1 {
  text-align: left;
}

.trivia__card-information--sections {
  align-content: center;
  align-items: baseline;
  color: #7f7f7f;
  display: flex;
  flex-flow: row nowrap;
  font-family: 'Delius', cursive;
  font-size: 1rem;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: .5rem 2rem;
}

.trivia__card-answers {
  padding: 1rem 2rem 2rem;
}

.trivia__card-choices, .trivia__card-replay {
  display: flex;
  align-content: center;
  flex-flow: column wrap;
  justify-content: space-between;
}

.trivia__card-answer, .trivia__card-start-btn, .trivia__card-play {
  background-color: #e5e5e5;
  color: #333;
  cursor: pointer;
  flex: 1 1 auto;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: .5rem;
  margin-bottom: .5rem;
  min-height: 2.5rem;
  min-width: 8.5rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  width: auto;
}

.trivia__card-answer:focus, .trivia__card-start-btn:focus, .trivia__card-play:focus {
  outline: none;
}

.trivia__card-answer:active, .trivia__card-start-btn:active, .trivia__card-play:active {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
  transition: none;
}

.trivia__card-answer:hover, .trivia__card-start-btn:hover, .trivia__card-play:hover {
  background-color: #b3b2b2;
}

.trivia__card-answer:active, .trivia__card-start-btn:active, .trivia__card-play:active {
  background-color: #595959;
}

.trivia__card-play, .trivia__card-start-btn {
  background-color: #633e95;
  color: #fff;
  min-width: 25%;
}

.trivia__card-play:hover, .trivia__card-start-btn:hover {
  background-color: #4b2f71;
}

.trivia__card-play:active, .trivia__card-start-btn:active {
  background-color: #3f285f;
}

.trivia__card-start-btn {
  max-width: 50%;
  padding: 1.5rem;
}

.trivia__card-replay {
  display: block;
}

.final > .trivia__card-wrap {
  padding-bottom: 2rem;
}

/* #endregion Card Setup */
